
body {
    overflow-x: hidden;
}










.navbar .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
mn {
    color: #9d0000;
}

.navbar .nav-item.active {
    border-left: #4444 3px solid;
}

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(image/pilates3.jpg);
    background-position: center;
    background-size: cover;
}

.carousel-image-2 {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(image/pilates1a.jpeg);
    background-position: center;
    background-size: cover;
}
.carousel-image-3 {
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7) ), url(image/pilates2a.jpg);
    background-position: center;
    background-size: cover;
}
 
#home-heading {
    position: relative;
    min-height: 200px;
    background: url('image/pilatesflower.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}


.dark-overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#video-play {
    position: relative;
    min-height: 200px;
    background: url('image/pilatesflower.jpeg');
    background-attachment: fixed;
    background-position: 0 -300px;
    background-repeat: no-repeat;
    text-align: center;
    color: #fff;
}
    
    
#video-play a {
    color: #fff;
}

#page-header {
    height: 200px;
     background: url('image/pilatesflower.jpeg');
    
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 25px;
}

.about-img {
    margin-top: -50px;
}

#faq .card {
    border: #444;
}


#faq a {
    color: #fff;
    text-decoration: none;
}
#faq .card-body,
#faq .card-header {
    background: #333;
}


#main-footer {
    background-color: #000;
    color: #fff;
}

#staff {
    background-color: #696565;
    color: #fff;
}

      .list-inline a {
    color: #fff;
}
 
.work-photos img{
    opacity: 0.8;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.work-photos img:hover{
    opacity: 1;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}



h3 {
    color: #dc3545;
}

